:root {
	--violet-0: #f3f0ff;
	--violet-1: #e5dbff;
	--violet-2: #d0bfff;
	--violet-3: #b197fc;
	--violet-4: #9775fa;
	--violet-5: #845ef7;
	--violet-6: #7950f2;
	--violet-7: #7048e8;
	--violet-8: #6741d9;
	--violet-9: #5f3dc4;
	--violet-10: #5235ab;
	--violet-11: #462d91;
	--violet-12: #3a2578;

	--gray-0: #f8f9fa;
	--gray-1: #f1f3f5;
	--gray-2: #e9ecef;
	--gray-3: #dee2e6;
	--gray-4: #ced4da;
	--gray-5: #adb5bd;
	--gray-6: #868e96;
	--gray-7: #495057;
	--gray-8: #343a40;
	--gray-9: #212529;
	--gray-10: #16191d;
	--gray-11: #0d0f12;
	--gray-12: #030507;
}

body {
	background-color: var(--violet-1);
	font-family: "Nunito", sans-serif;
}

h1 {
	font-size: 4rem;
	color: var(--violet-12);
	text-align: center;
}

.container {
	min-height: 100vh;
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                F O R M                                     */
/* -------------------------------------------------------------------------- */

.player-setup-container {
	background-color: var(--gray-0);
	padding: 40px;
	border-radius: 20px;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 500px;
}

.player-setup-container > p {
	text-align: center;
	font-style: italic;
	color: var(--gray-8);
	font-size: 1.1rem;
}

.player-creation-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.player-creation-form > div {
	background-color: var(--violet-2);
	padding: 20px;
	border-radius: 10px;

	display: flex;
	align-items: center;
	gap: 20px;
}

.player-creation-form > div > svg {
	width: 5rem;
	fill: var(--violet-12);
}

.form-field {
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex: 1;
}

.form-field > label {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--violet-12);
}

.form-field > input {
	border: 0;
	font-size: 1.2rem;
	border-radius: 10px;
	height: 2rem;
	padding: 0 0.5rem 0 0.5rem;
	font-weight: bold;
	color: var(--gray-12);
}

/* -------------------------------------------------------------------------- */
/*                                G A M E                                     */
/* -------------------------------------------------------------------------- */

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.players {
	display: flex;
	gap: 20px;
}

.player {
	display: flex;
	align-items: center;
	gap: 5px;
}

.player > svg {
	width: 2rem;
	fill: var(--gray-8);
}

.player > p {
	font-size: 1.5rem;
	color: var(--gray-8);
}

.board {
	width: 25rem;
	height: 25rem;

	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	gap: 10px;
}

.cell {
	background-color: var(--violet-3);
}

.display {
	font-size: 1.5rem;
	font-weight: 800;
	color: var(--gray-8);
}

.button {
	background-color: var(--violet-6);
	border: 0;
	padding: 10px 20px;
	border-radius: 500px;
	color: var(--gray-0);
	font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/*                 V I S I B I L I T Y   &   E F F E C T S                    */
/* -------------------------------------------------------------------------- */

.hidden {
	display: none !important;
}

.button:hover {
	background-color: var(--violet-8);
}

.button:active {
	background-color: var(--violet-10);
}

.cell:hover {
	background-color: var(--violet-5);
}
